# Ignore all mp4 files
*.mp3
*.mp4

# Ignore play.py
play.py

# Ignore .env file
.env

# Ignore uploads folder
uploads/

src/__pycache__
__pycache__

pretrained_models
results

venv
output
.gitignore

server/src/*.mp4
server/src/*.mp3


uploads

